/* This will make our navbar stick to the top */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

/* This is the style for the name "Kathy" */
#name {
    margin-left: 20px;
}

/* This is the style for the links on the right */
#links {
    margin-right: 20px;
    display: flex;
    gap: 20px;
}

/* This is the style for each link */
#links a {
    text-decoration: none;
    color: black;
}

/* This is the style for the dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

/* This is the style for the dropdown content. It's hidden by default */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    background-color: white;
}

/* This is the style for each link in the dropdown content */
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

/* This will show the dropdown content when we hover over "Works" */
.dropdown:hover .dropdown-content {
    display: block;
}

/* This will change the color of the links when we hover over them */
#links a:hover, .dropdown-content a:hover {
    color: red;
}
